APP_NAME=Delivery System API
APP_ENV=development
APP_VERSION=0.1.0
API_PREFIX=/api

DATABASE_URL=postgresql+asyncpg://[postgres_user]:[senha]@localhost:5432/[db]
DATABASE_ECHO=false

REDIS_URL=redis://localhost:6379/0

AUTO_CREATE_TABLES=true
VERIFY_TABLES_ON_STARTUP=true

# Caso for restringir por IP, deixe sempre dentro de lista, pois o config espera dessa forma:
# Ex: ["http://localhost:5173"]
CORS_ORIGINS=["*"]

# Gere uma chave forte com mais de 32 caracteres - EX: Encryption key 256 gerada no site: https://acte.ltd/utils/randomkeygen
SECRET_KEY="dsadasdasdasdasd"
ACCESS_TOKEN_EXPIRE_MINUTES=1440
JWT_ALGORITHM=HS256

VIACEP_BASE_URL=https://viacep.com.br/ws
NOMINATIM_BASE_URL=https://nominatim.openstreetmap.org
GEOCODING_USER_AGENT=DeliverySystemAPI/0.1.0
NOMINATIM_EMAIL=
EXTERNAL_API_TIMEOUT_SECONDS=8
